.page{
  display: flex;
}
.red{
  color:red
}
.content{
  padding:30px
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;

}


