.page{
  display: flex;
}
.red{
  color:red
}
.homepage-content{
  padding:50px
}
.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;

}

.chart-box{
  background-color: white;
  border: 1px solid var(--gray-20);
  border-radius: 7px;
  padding: 10px
}
