@import "vars.css";

.chart-box{
  display: flex;
  /* border: 1px solid var(--main-color-60); */
  background-color: var(--content-background);
  border-radius: 7px;
  height: 36vh!important;
}

.charts{
  color: white;
}

.learn-more{
  display: flex;
  text-align: center;
  justify-content: center;;
  align-items: center;
  gap: 30px;
  padding: 2rem 0;

}

.learn-text{
  padding: 10px;
  
}
.widgets{

}

body .MuiAccordion-root{
  background-color: var(--body-background-color);
}

.chart-type-switch {
  display: flex!important;
  justify-content: flex-end;
}

.chart-type-switch .active{
  background-color: var(--main-color-60);
  
}

.accordion-summary{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
.MuiAccordionSummary-root{
  display: flex;
  flex-direction: column;
}

.accordion-summary .gauge-container{
  width: 100%;
}

@media(min-width: 768px){
  .MuiAccordionSummary-root{
    flex-direction: row;
  }
  .accordion-summary{
    flex-direction: row;
  }
  .accordion-summary .gauge-container{
    width: 30%;
    flex-grow: 1;
  }
  .accordion-summary .gauge-container + div{
    width: 70%;
    flex-grow: 1;
  }
  .color-guide{
    flex-wrap: nowrap;
  }
}

.color-guide{
  display: flex;
  gap: 40px;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
  background-color: var(--body-background-color);
}

.color-line{
  display: flex;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}

.green{
  background-color: #5ee432;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.yellow{
  background-color: #fffa50;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.orange{
  background-color: #f7aa38;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.red{
  background-color: #ef4655;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
