@import "vars.css";

.chart-box{
  display: flex;
  margin-bottom: 40px;
  width: 1000px;  
  border: 1px solid var(--gray-20);
  background-color: var(--content-background);
  border-radius: 7px;
  padding: 10px;
  margin-top:30px
}

.charts{
  color: white;
}
.content-box{
  padding : 50px
}
.learn-more{
  display: flex;
  text-align: center;
  justify-content: center;;
  align-items: center;
  gap: 30px;
  margin-bottom: 7rem;
}
.learn-text{
  padding: 10px;
  
}
.widgets{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;

}
.accordion-summary{
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.color-guide{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
}

.color-line{
  display: flex;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}

.green{
  background-color: #5ee432;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.yellow{
  background-color: #fffa50;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.orange{
  background-color: #f7aa38;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.red{
  background-color: #ef4655;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
