@import "vars.css";

.dashboard-row{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.dashboard-box{
  background-color:  var(--body-background-color-20);
  border-radius: 8px;
  display: flex;
  width: 100%;
  min-height: 300px;
  padding: 1rem;
} 
.dashboard-box > canvas{
  width: 100%!important;
}
.dashboard-typography{
  margin-top: 50px;
}

@media (min-width: 768px) {
  .dashboard-row{
    flex-direction: row;
  }
}


