
.info {
  clear: both;
  padding: 10px;
  font-size: 0.9em;
}
a.link {
  color: rgb(47, 227, 255);
  text-decoration: none;
}

.warn {
  font-size: 0.8em;
  background-color: darken(orange, 15%);
  color: #fff;
  padding: 10px;
}


svg.gauge {
  width: 10rem;
  height: 11rem;
}

/* ------- Alternate Style ------- */
.wrapper {
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
}
.wrapper > .gauge-container {
  margin: 0;
}
.gauge-container.two {
  width: 10rem,
}
.gauge-container.two > .gauge .dial {
  stroke: var(--gauge-stroke-color);
  stroke-width: 29;
}
.gauge-container.two > .gauge .value {
  stroke: orange;
  stroke-dasharray: none;
  stroke-width: 26;
}
.gauge-container.two > .gauge .value-text {
  fill: var(--gauge-text-color);
  font-weight: 100;
  font-size: 1.6em;
}

