@import "vars.css";

.main-div{
  display: flex;
  border: 1px solid var(--gray-20) ;
  height: 25vh;
  gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.chart-box{
  display: flex;
  height: 230px;
}

.chart-box.MuiBox-root.css-0{
  width: 90%;
}

