@import "vars.css";

.main-div{
  display: flex;
  border: 1px solid var(--gray-20) ;
  height: 25vh;
  gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.main-div + .main-div{
  margin-top: 40px ;
}

.chart-box{
  display: flex;
  height: 230px;
}

.chart-box.MuiBox-root.css-0{
  width: 90%;
}

.blue{
  background-color: blue;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}
.purple{
  background-color: peru;
  height: 40px;
  width: 40px;
  border-radius: 5px;
}


