@import "vars.css";

.main-div{
  display: flex;
  gap: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.result-box{
  display: block;
  /* background-color: var(--body-background-color-30); */
}
.result-box__header{
  display: flex;
  align-items: center;
}
.results-box__title, .result-box__bar{
  display: block;
}
.result-box__bar{
  margin-left: auto;
}

.main-div + .main-div{
  margin-top: 40px ;
}




