:root{

  --main-color: #50097a;
  --main-color-10: #dccee4;
  --main-color-20: #b99dca;
  --main-color-30: #966baf;
  --main-color-60: #400762;
  --main-color-70: #300549;
  --main-color-80: #200431;
  --gray-10: #f5f5f5;
  --gray-20: hsl(0, 0%, 75%);
  --gray-30: hsl(0, 0%, 55%);
  --gray-40: hsl(0, 0%, 35%);
  --gray-50: hsl(0, 0%, 25%);
  --body-background-color: #382E4B;
  --body-background-color-20: #60586f;
  --body-background-color-30: #888293;
  --green-20: #74b676; 

  --input-border: 1px solid var(var(--gray-20));

}
