
.wellness-widget{
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: var(--content-background-10);
}
.wellness-widget__chart{
  width: 100%;
}
.wellness-widget__info{
  width: 100%;
}

@media (min-width: 768px) {
  .wellness-widget{
    flex-direction: row;
    align-items: center;
    max-height: 70vh;
  }
  .wellness-widget__chart{
    width: 60%;
  }
  .wellness-widget__info{
    width: 40%;
  }
}
